.instruction {
    display: flex;
    align-items: center;
    gap: 40px;

    .grid {
        display: grid;
        gap: 24px 40px;
        grid-template-rows: repeat(2, 80px);
        grid-template-columns: repeat(2, 120px);
    }
}