.instruction {
    display: flex;
    align-items: center;
    gap: 60px;

    .grid {
        display: grid;
        gap: 32px 60px;
        grid-template-rows: repeat(2, 80px);
        grid-template-columns: repeat(2, 120px);
    }
}