$color-cathy-0: #fff4e6;
$color-cathy-100: #e4d5c0;
$color-cathy-200: #c9b79f;
$color-cathy-300: #ae9b82;
$color-cathy-400: #938168;
$color-cathy-500: #786852;
$color-cathy-600: #5e503e;
$color-cathy-700: #43382b;
$color-cathy-800: #282119;
$color-cathy-900: #0d0b08;

$color-metal-0: #f0f0f0;
$color-metal-100: #d8d8d8;
$color-metal-200: #c0c0c0;
$color-metal-300: #a7a7a7;
$color-metal-400: #8f8f8f;
$color-metal-500: #777777;
$color-metal-600: #5f5f5f;
$color-metal-700: #474747;
$color-metal-800: #2f2f2f;
$color-metal-900: #171717;

$font-merriweather: 'Merriweather', Georgia, serif;
$font-geist-mono: 'Geist Mono', 'Fira Code', 'JetBrains Mono', 'SF Mono', Monaco, 'Cascadia Code', 'Roboto Mono', Consolas, 'Courier New', monospace;